@model RAFE.Models.UserModel
<section>
    <div class="row raf-background" style="color:white;">
        <div class="col-lg-1 col-md-1">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-black">
            <p style="font-size:25px;">@Model.Name </p>
            @Model.Title <br />
            @Model.Department
        </div>
    </div>
</section>