    <!-- Main content -->
<section class="content">
    <div class="error-page" style="width:100%; text-align:center">
        <div class="error-content" style="margin-left:0px">
            <h3 style="color:white"><i class="fa fa-warning text-red"></i> You are not authorized to access.</h3>
            <p style="color:white">
                Kindly contact administrator.
            </p>

        </div>
    </div>
    <!-- /.error-page -->
</section>
