
@{
    ViewBag.Title = "LastWinners";
}

<section class="content" style="height:100%">
    <div class="dashboard-screen">
        <center>
            @*<img src="~/Content/img/1715 x 725 Prism Slide.png" />*@

            <img src="~/Content/img/lastwinners.jpg"  class="img-responsive" />
        </center>        
    </div>
</section>
<style>
    .content-wrapper {
        background-color: black !important;
    }
</style>

