

<div class="content-wrapper">
 
    
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            @*<h2 class="headline text-red">401</h2>*@
            <div class="error-content" style="color:white">
                <h3 style="color:white"><i class="fa fa-warning text-red" ></i>you are not authorized to access.</h3>
                <p style="color:white">
                    Kindly contact administrator.
                </p>

            </div>
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>

